.menu{
    display: none;
}

#container-left {
    display: inline-block;
    width: 60%;
    padding-left: 136px;
    top: 20%;
    position: relative;
}

.container-right {
    display: inline-block;
    background-color: rgb(93, 93, 125, 0.16);
    width: 40vw;
    height: 100vh;
    position: absolute;
}

h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
    width: 368px;
}

h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
    opacity: 0.6;
    width: 540px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button-1 {
    width: 269px;
    height: 62px;
    background-color: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border: none;
    border-radius: 25px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
}

img {
    position: relative;
    top: 10%;
    right: 138px;
}

#nav-menu {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}

a {
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 41px;
    cursor: pointer;
}

.button-1:hover {
    opacity: 0.8;
}

.button-1:active {
    opacity: 0.5;
}

a:nth-child(2) {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: #5D5D7D;
    transition: all 0.5s;
    position: relative;
}

a:hover {
    color: #9b9bd1;
}

a::after {
    content: "";
    position: absolute;
    background-color: #9b9bd1;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
a:hover::after {
    width: 100%;
}

li{
    list-style: none;
    text-decoration: none;

}
